@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font1: "Roboto", sans-serif;
  /* --backgroundColor1: #99a3a3; */
  --backgroundColor1: #a0b8ad;
  --boxShadow1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --letterSpacing1: 0.7px;
  --letterSpacing2: 1px;
  --letterSpacing3: 4px;

  --color1: #99a3a3;

  --copyColor1: #404040;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font1);
  background-color: var(--backgroundColor1);
}

header {
  display: flex;
  background-color: #101010;
  color: #e0e0e0;
  font-size: 32px;
  padding: 40px 30px;
  letter-spacing: var(--letterSpacing3);
}

.header-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 960px;
  margin: auto;
}

.nav a {
  font-size: 16px;
  color: #d0d0d0;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.nav a:hover {
  color: green;
  color: #58a785;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.topContent {
  text-align: center;
  margin-bottom: 10px;
}

.gaz41image {
  margin: 20px;
  overflow: hidden;
}

.gaz41image img {
  width: 100%;
}

h2 {
  letter-spacing: var(--letterSpacing1);
  padding: 24px 0 0 20px;
}

h3 {
  letter-spacing: var(--letterSpacing3);
  padding: 40px 0 40px 20px;
}

.arrow,
.arrow2 {
  padding-left: 46px;
  opacity: 0.7;
}

.arrow2 {
  padding-left: 40px;
  padding: 0 0 20px 58px;
}

.spacer {
  height: 150px;
}

.about {
  color: #111;
  padding: 10px 20px 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  align-items: stretch;
  justify-content: left;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  gap: 6px;
  background-color: #f0f0f0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  animation: fadeUp 0.4s linear;
  animation-timeline: view(); /* Defines the timeline for the animation */
  animation-range: entry 0% cover 35%; /* Specifies the animation range */
  animation-duration: 0.4s; /* Duration of the animation - Firefox */
  transition: all 0.4s ease-in-out; /* Smooth transition for all properties */
}

.card:hover {
  background-color: #fff;
  box-shadow: var(--boxShadow1);
}

.card-img {
  background-color: #f0f0f0;
  width: 100%;
  border: none;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-title {
  padding: 20px 4px 4px 20px;
}

.content {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: var(--letterSpacing1);
  padding: 0 20px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-left: 10px;
  margin: 10px 16px 0 10px;
}

.tool {
  background-color: #4e5252;
  color: #e0e0e0;
  font-size: 12px;
  letter-spacing: var(--letterSpacing2);
  border-radius: 4px;
  padding: 6px 10px;
}

.code-buttons {
  display: flex;
  padding: 10px;
  margin: 0 0 10px 10px;
}

.btn {
  background-color: #c0c0c0;
  background-color: #a0b8ad;
  font-size: 14px;
  border-radius: 6px;
  padding: 6px 12px;
  margin-right: 8px;
  letter-spacing: var(--letterSpacing2);
  cursor: pointer;
  transition: 300ms ease-out;
}

.btn:hover {
  background-color: #84a696;
  color: #fff;
  box-shadow: var(--boxShadow1);
}

.btn a {
  color: #111;
  text-decoration: none;
}

.img-icon {
  display: inline-block;
  padding: 0 0 2px;
  vertical-align: middle;
}

.accordion1,
.accordion2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--accordionColor1);
  font-family: var(--font1);
  font-size: 18px;
  width: calc(100% - 40px);
  letter-spacing: var(--letterSpacing);
  padding: 30px 20px;
  margin: 0 0 16px 20px;
  outline: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: 500ms ease-out;
}

.panel1,
.panel2 {
  display: none;
}

.panel1 {
  margin-bottom: 80px;
}

.accordion1.active,
.accordion2.active {
  background-color: #ccc;
}

.accordion-name {
  letter-spacing: var(--letterSpacing2);
  text-decoration: underline dotted;
  text-decoration-color: #111;
  text-underline-offset: 10px;
  transition: 500ms ease-out;
}

.accordion-name:hover {
  background-color: #f0f0f0;
  /* color: #000; */
  color: #e0e0e0;
  box-shadow: var(--boxShadow1);
}

.accordionActive,
.accordion1:hover,
.accordion2:hover {
  /* background-color: #e0e0e0; */
  background-color: #111;
  background-color: #101010;
  /* color: var(--accordionColor4); */
  color: #e0e0e0;
  text-decoration-color: #606060;
}

.accordion1:after,
.accordion2:after {
  content: "show more \002B\002B";
  /* color: var(--accordionColor2); */
  float: right;
  margin-left: 5px;
  color: #666;
  /* color: #fff; */
  font-size: 14px;
}

.accordionActive:after {
  content: "show less \2212\2212";
  font-size: 14px;
  color: #d0d0d0;
}

/* scroll to the top */
.scroll-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  right: 2px;
  width: 28px;
  height: 40px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  /* background-color: #58a785; */
  /* background-color: #a0b8ad; */
  background-color: rgba(160, 184, 173, 0.2);
  transition: all 0.3s ease-in-out;
}

.scroll-up:hover {
  /* background-color: #5d927a; */
  background-color: #6c8278;
  transform: translateY(-3px);
}

.up-icon {
  display: none;
}

.copy {
  background-color: var(--backgroundColor1);
  color: var(--copyColor1);
  font-size: 14px;
  text-align: center;
  letter-spacing: var(--letterSpacing1);
  padding: 20px 0;
  margin-top: 50px;
}

/* fadeUp animation for cards */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media only screen and (max-width: 450px) {
  .header-top {
    flex-direction: column;
    align-items: self-start;
  }

  .logo {
    padding-bottom: 10px;
    margin: 0;
  }

  .nav {
    margin: 0;
  }

  .nav a {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 398px) {
  .copy {
    padding: 6px 0;
    line-height: 1.6;
  }

  .copy2 {
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media only screen and (max-width: 300px) {
  .code-buttons {
    flex-direction: column;
    gap: 10px;
    width: 135px;
  }

  .scroll-up {
    bottom: 50px;
  }
}

@media only screen and (max-width: 270px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 0 2px;
  }
}

/* @media (pointer: fine) {
  a span {
    display: none;
  }
  a:hover span {
    display: inline-block;
  }
} */
